<div>
  <input-speach-enabled
    [focusin]="tabData[0]"
    (focusoutCustom)="focusout($event)"
    (executeGlobalCommand)="executingGlobalCommand($event)"
  ></input-speach-enabled>
</div>
<div style="margin-top: 20px">
  <input-speach-enabled
    [focusin]="tabData[1]"
    (focusoutCustom)="focusout($event)"
    (executeGlobalCommand)="executingGlobalCommand($event)"
  ></input-speach-enabled>
</div>

<div style="margin-top: 20px">
  <button-speach-enabled
    [focusin]="tabData[2]"
    (focusoutCustom)="focusout($event)"
    (functionExecuteCustom)="executeFunction($event)"
    (executeGlobalCommand)="executingGlobalCommand($event)"
  ></button-speach-enabled>
</div>
<span
  [ngClass]="listerning ? 'app-speech-input-btn' : 'app-mute-input-btn'"
  (click)="listen()"
></span>

<!-- <button (click)="test()">test</button> -->
